body{
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}
h1{
  margin: 0;
  font-family: 'Sacramento', cursive;
}
h2{
  font-family: 'Montserrat', sans-serif;
}
h3{
  font-family: 'Montserrat', sans-serif;
}

.top-container{
  background-color:#7fdbda;
  position: relative;
  padding-top: 100px;

}
.shahabaz_img {
  height: 300px;
  width: 300px;
  border-radius: 50%;
}

.cording_img{
  height: 300px;
  width: 300px;
  border-radius: 50%;


}

.skill-row-img{
  height: 300px;
  width: 300px;
  border-radius: 5%;

}
.middle-container {
background-color: white;

}
.bottom-container {
background-color: white;

}
.pro{
  text-decoration: underline;
}
.top-cloud{
  position: absolute;
  right: 300px;
  top: 50px;
}

.bottom-cloud{
  position: absolute;
  left: 300px;
  bottom: 300px;
}
